@font-face {
  font-family: "PTsans";
  src: url("../fonts/ptsans.woff");
}

@font-face {
  font-family: "PTsans";
  src: url("../fonts/ptsans.woff2");
}

@font-face {
  font-family: "PTsans";
  font-weight: 700;
  src: url("../fonts/ptsansbold.woff");
}

@font-face {
  font-family: "PTsans";
  font-weight: 700;
  src: url("../fonts/ptsansbold.woff2");
}
