body {
  font-family: PTSans, Helvetica, sans-serif;
  text-transform: uppercase;
  color: #333333;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  background-color: #f2f2f2;
}

h1 {
  color: #000000;
  line-height: 26px;
}

h2 {
  color: #000000;
  font-size: 18px;
  line-height: 26px;
}

h3 {
  color: #000000;
  font-size: 18px;
  line-height: 26px;
}

a {
  color: #ffffff;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
}

img {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}

button {
  outline: none;
}
