$menu-bg-color:#81b3d2;
$menu-text-color:#ffffff;
$label-color:#81b3d2;
$feat-item-logo:#eeeeee;
$footer-bg-color:#fefefe;
$featurea-border-bot:#d6d6d6;
$photo-gal-border:#e5e5e5;
$input-color:#f2f2f2;
$tablet-widths: (min-width: 768px);
$desktop-widths: (min-width: 1200px);

@mixin clearfix() {
  &::after {
    content: "";

    display: table;
    clear: both;
  }
}
