.btn {
  display: block;
  height: 58px;
  width: 280px;
  border: 0;
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
  line-height: 58px;
  text-align: center;
  text-transform: uppercase;
  background-color: $label-color;
}
