.btn {
  display: block;
  height: 58px;
  width: 280px;
	padding-top: 15px;
  border: 0;
	box-sizing: border-box;
	font-size: 21px;
  line-height: 26px;
  text-align: center;
  background-color: $label-color;
}
