.features {
  position: relative;
  counter-reset: list;

  &::before {
    content: "";
    position: absolute;
    height: 37px;
    width: 320px;
    top: -19px;
    z-index: 2;
    border: 160px solid transparent;
    border-top: 18px solid white;
    box-sizing: border-box;
  }

   &::after {
    content: "";
    position: absolute;
    height: 19px;
    width: 320px;
    top: -18px;
    z-index: 1;
    background-color: $label-color;
  }
}

.features__item {
  text-align: center;
  background-color: $feat-item-logo;

  &--blue {
    padding-top: 23px;
    background-color: $label-color;
  }

  &--tags {
    background-color: transparent;
  }

  &--counter {
    counter-increment: list;
  }
}

.features__title {
  padding-top: 26px;
  padding-bottom: 10px;
  margin: 0;

  &--blue {
    padding-top: 15px;
    padding-bottom: 8px;
    color: #ffffff;
  }

  &--tags {
    position: relative;
    text-align: left;
  }

  &::before {
    content: "";
    position: absolute;
    top: 16px;;
    left: -48px;
    background-repeat: no-repeat;
  }

  &--home::before {
    height: 37px;
    width: 40px;
    background: url(../../img/icon-house.svg) no-repeat;
    background-size: contain;
  }

  &--gift::before {
    height: 40px;
    width: 35px;
    top: 14px;;
    left: -47px;
    background: url(../../img/icon-gift.svg) no-repeat;
    background-size: contain;
  }

  &--food::before {
    height: 35px;
    width: 40px;
    top: 23px;;
    left: -51px;
    background: url(../../img/icon-burger.svg) no-repeat;
    background-size: contain;
  }
}

.features__text {
  width: 280px;
  padding-bottom: 26px;
  padding-left: 11px;
  padding-right: 11px;
  margin: 0 auto;
  border-bottom: 1px solid;
  border-bottom-color: $featurea-border-bot;
  box-sizing: border-box;

  &--blue {
    padding-bottom: 40px;
    padding-left: 0px;
    padding-right: 0px;
    border: none;
    color: #ffffff;
  }

  &--no-border {
    border: none;
  }

  &--tags {
    width: auto;
    padding: 0;
    padding-top: 5px;
    margin: 0;
    border: none;
    text-align: left;
  }
}


.features__item-number {
  display: block;
  padding-top: 0px;
  padding-bottom: 16px;

  &::before {
    content: "– ";
  }

  &::after {
    content: counter(list)" –";
    display: inline;
  }
}

.features__image-wrapper {
  overflow: hidden;
}

.features__image {
  display: block;
  height: 260px;
  width: auto;
  margin-left: -102px;
}

.features__wrapper--tags {
  padding-top: 10px;
  padding-bottom: 38px;
  padding-left: 70px;
  padding-right: 40px;
  background-color: white;
}

@media (min-width: 768px) {
  .features {
    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }

  .features__wrapper {
    height: 256px;
    clear: both;

    &--tags {
      display: flex;
      height: 330px;
      padding: 0px;
    }
  }

  .features__item {
    &--blue {
      float: left;
      height: inherit;
      width: 33.33%;
      padding-top: 31px;
      box-sizing: border-box;
    }

    &--gray {
      float: left;
      width: 33.3333%;
      padding-top: 20px;
      height: inherit;
      box-sizing: border-box;
    }

    &--right {
      float: right;
      order: 2;
    }

    &--tags {
      width: 33.33%;
      box-sizing: border-box;
      padding-top: 135px;
      margin-bottom: 0;
    }
  }

  .features__title {
    padding-left: 60px;
    padding-right: 60px;
    font-size: 21px;

    &--blue {
      padding-left: 53px;
      padding-right: 52px;
    }

    &--tags {
      padding-left: 60px;
      margin-bottom: 5px;
      text-align: center;
    }

    &::before {
      height: 75px;
      width: 75px;
    }

    &--home {
      padding-left: 54px;

      &::before {
        top: -74px;
        left: 89px;
      }
    }

    &--gift::before {
      top: -77px;;
      left: 95px;
    }

    &--food::before {
      top: -71px;;
      left: 90px;
    }
  }

  .features__text {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    box-sizing: border-box;

    &--blue {
      padding-left: 45px;
      padding-right: 45px;
    }

    &--gray {
      padding-left: 54px;
      padding-right: 53px;
    }

    &--tags {
      padding-left: 45px;
      padding-right: 45px;
      text-align: center;
    }

    &--home {
      padding-left: 45px;
      padding-right: 45px;
    }

    &--gift {
      padding-left: 40px;
      padding-right: 40px;
    }

    &--food {
      padding-left: 50px;
      padding-right: 50px;
    }
  }

  .features__image-wrapper {
    float: right;
    height: inherit;
    width: 66.67%;
    box-sizing: border-box;
  }

  .features__image {
    height: 257px;
    margin-left: 0;
  }

  .features__item-number {
    margin-bottom: 10px;
    padding-bottom: 12px;
  }
}

@media (min-width: 1200px) {
  .features__item {
    &--blue {
      padding-top: 35px;
    }

    &--gray {
      padding-top: 17px;
    }

    &--tags {
      padding-top: 132px;
      padding-left: 3px;
    }
  }

  .features__title {
    padding-left: 124.5px;
    padding-right: 124.5px;
    padding-bottom: 10px;

    &--tags::before {
      left: 157px;
    }

    &--home::before {
      left: 158px;
    }

    &--gift::before {
      left: 165px;
    }

    &--food::before {
      left: 160px;
    }
  }

  .features__text {
    padding-left: 57px;
    padding-right: 57px;

    &--blue {
      padding-left: 70px;
      padding-right: 70px;
    }

    &--gray {
      padding-left: 70px;
      padding-right: 70px;
    }

    &--thin {
      padding-left: 70px;
      padding-right: 70px;
    }

    &--gift {
      padding-left: 100px;
      padding-right: 100px;
    }
  }

  .features__image {
    height: auto;
    margin-top: -73px;

    &--bridge {
      margin-top: -77px;
    }
  }
}
