.features {
  position: relative;
  counter-reset: list;

  &::before {
    content: "";
    position: absolute;
    height: 37px;
    width: 320px;
    top:-19px;
    z-index: 2;
    border: 160px solid transparent;
    border-top: 18px solid white;
    box-sizing: border-box;
  }

   &::after {
    content: "";
    position: absolute;
    height: 19px;
    width: 320px;
    top: -18px;
    z-index: 1;
    background-color: $label-color;
  }
}

.features__item {
  counter-increment: list;
  text-align: center;
  background-color: $feat-item-logo;

  &--blue {
    padding-top: 23px;
    background-color: $label-color;
  }
}

.features__title {
  padding-top: 26px;
  padding-bottom: 10px;
  margin: 0;
  font-size: 18px;
  line-height: 26px;

  &--blue {
    padding-top: 15px;
    padding-bottom: 8px;
    color: #ffffff;
  }
}

.features__text {
  display: block;
  width: 280px;
  padding-bottom: 27px;
  padding-left: 11px;
  padding-right: 11px;
  margin: 0 auto;
  border-bottom: 1px solid;
  border-bottom-color: $featurea-border-bot;
  box-sizing: border-box;
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;

  &--blue {
    padding-bottom: 40px;
    padding-left: 0px;
    padding-right: 0px;
    border: none;
    color: #ffffff;
  }

  &--no-border {
    border: none;
  }
}


.features__item-number {
  display: block;
  padding-top: 0px;
  padding-bottom: 16px;
  text-align: center;

  &::before {
     content:"– ";
  }

  &::after {
    content: counter(list)" –";
    display: inline;
  }
}

.features__image {
  display: block;
  height: 260px;
}

.features__tag {
  padding-top: 17px;
  padding-bottom: 10px;
  padding-left: 70px;
  padding-right: 40px;
  background-color: white;
}

.features__tag-item {
  margin-bottom: 27px;
}

.features__tag-title {
  position: relative;
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 26px;
  text-align: left;


  &::before {
    content: "";
    position: absolute;
    top: -9px;;
    left: -48px;
    background-repeat: no-repeat;
  }

  &--home::before {
    height: 37px;
    width: 40px;
    background: url(/img/icon-house.svg) no-repeat;
    background-size: contain;
  }

  &--gift::before {
    height: 40px;
    width: 35px;
    top: -12px;;
    left: -45px;
    background: url(/img/icon-gift.svg) no-repeat;
    background-size: contain;
  }

  &--food::before {
    height: 35px;
    width: 40px;
    top: -5px;;
    left: -51px;
    background: url(/img/icon-burger.svg) no-repeat;
    background-size: contain;
  }
}

.features__tag-text {
  color: #333333;
  font-size: 14px;
  line-height: 21px;
  text-align: left;
}

@media (min-width: 768px) {
  .features {
    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }

  .feature__wrapper-item {
    height: 256px;
    clear: both;
  }

  .features__item {
    &--blue {
      float: left;
      height: inherit;
      width: 33%;
      box-sizing: border-box;
    }

    &--gray {
      float: left;
      width: 33.3333%;
      padding-top: 20px;
      height: inherit;
      box-sizing: border-box;
    }

    &--right {
      float: right;
    }
  }

  .features__title {
    padding-left: 60px;
    padding-right: 60px;
    font-size: 21px;
  }

  .features__text {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    box-sizing: border-box;

    &--blue {
      padding-left: 45px;
      padding-right: 45px;
    }
  }

  .features__image-wrapper {
    float: right;
    height: inherit;
    width: 67%;
    box-sizing: border-box;
    overflow: hidden;
  }

  .features__tag {
    height: 330px;
    clear: both;
    padding: 0px;
  }

  .features__tag-item {
    float: left;
    height: inherit;
    width: 33%;
    padding-top: 135px;
    margin-bottom: 0;
    box-sizing: border-box;

    &--last {
      float: right;
      width: 33%;
    }
  }

  .features__tag-title {
    font-size: 21px;
    text-align: center;

    &::before {
      height: 75px;
      width: 75px;
      top: -100px;
      left: 90px;
    }
  }

  .features__tag-text {
    padding-left: 45px;
    padding-right: 45px;
    text-align: center;
  }

  .features__item-number {
    margin-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  .features__item--blue {
    padding-top: 40px;
  }

  .features__title {
    padding-left: 122.5px;
    padding-right: 122.5px;
  }

  .features__tag-title {
    &::before {
      top: -100px;
      left: 160px;
    }
  }

  .features__text {
    padding-left: 65px;
    padding-right: 65px;

    &--blue {
    padding-left: 70px;
    padding-right: 70px;
    }
  }
}
