.features {
  position: relative;
  counter-reset: list;

  &::before {
    content: "";
    position: absolute;
    width: 320px;
    height: 37px;
    z-index: 1;
    border: 160px solid transparent;
    border-top: 18px solid white;
    box-sizing: border-box;
  }
}

.features__item {
  background-color: $feat-item-logo;

  &--city,
  &--bridge {
    background-color: $label-color;
  }
}

.features__description {
  width: 280px;
  height: 167px;
  padding-top: 28px;
  margin: 0 auto;
  border-bottom: 1px solid;
  border-bottom-color: $featurea-border-bot;
  box-sizing: border-box;
  text-align: center;
  counter-increment: list;

  &--city {
    height: 211px;
    padding-top: 60px;
    border: none;
  }

  &--bridge {
    height: 190px;
    padding-top: 40px;
    border: none;
  }

  &--tourist {
    border-bottom: 1px solid;
    border-bottom-color: transparent;
  }
}

.features__title {
  margin-bottom: -14px;
  margin-top: 0px;
  font-size: 18px;
  line-height: 26px;

  &--city,
  &--bridge {
    color: #ffffff;
  }
}

.features__text {
  display: block;
  color: #333333;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;

  &--city,
  &--bridge{
    color: #ffffff;
  }
}

.features__item-number {
  display: block;
  padding-top: 10px;
  padding-bottom: 16px;

  &::before {
     content:"- ";
  }

  &::after {
    content: counter(list)" -";
  }
}

.features__item--open{
  background-color: $label-color;
}

.features__image{
  height: 260px;
  display: block;
}

.features__tag {
  background-color: white;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 70px;
  padding-right: 40px;
}

.features__item--tag {
  margin-bottom: 25px;
}

.features__title {

  &--tag{
    font-size: 18px;
    line-height: 26px;
    position: relative;


    &::before {
      content: "";
      position: absolute;
      left: -52px;
      top: -5px;;
      background-repeat: no-repeat;
    }
  }

  &--home::before {
    content: "";
    width: 40px;
    height: 37px;
    background: url(/img/icon-house.svg) no-repeat;
    background-size: contain;
  }

  &--gift::before {
    content: "";
    width: 35px;
    height: 40px;
    background: url(/img/icon-gift.svg) no-repeat;
    background-size: contain;
  }

  &--food::before {
    content: "";
    width: 40px;
    height: 35px;
    background: url(/img/icon-burger.svg) no-repeat;
    background-size: contain;
  }
}

.features__text--tag {
  color: #333333;
  font-size: 14px;
  line-height: 21px;
}
