.form__title {
  width: 280px;
  padding: 0;
  margin-top: 0;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}

.form__fieldset {
  padding-left: 18px;
  padding-top: 19px;
  padding-bottom: 4px;
  border-top: 1px solid $photo-gal-border;
  box-sizing: border-box;

  &--impress {
    padding-top: 19px;
    padding-bottom: 15px;
  }

  &--contacts-block {
    padding-bottom: 10px;
  }

  &--places-block {
    padding-bottom: 0px;
  }
}

.form__wrapper-field--places-block {
  padding-top: 0px;
}

.form__field {
  display: flex;
  position: relative;
	align-items: center;
  width: 280px;
  padding-bottom: 21px;
  align-items: baseline;

  &--wide {
    flex-wrap: wrap;
    padding-bottom: 19px;
  }

  &--tall {
    margin-bottom: 20px;
  }
}

.form__label {
  margin-right: 18px;
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;

  &--thin {
    display: block;
    padding-top: 2px;
    padding-left: 22px;
    margin-bottom: 8px;
  }

  &--bold {
    display: block;
    position: relative;
    padding-top: 19px;
    padding-bottom: 4px;
    padding-left: 77px;
    color: #000000;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    text-transform: none;
  }

  &--check {
    padding-top: 13px;
    padding-bottom: 20px;
  }
}

.form__item {
  display: inline-block;
  vertical-align: middle;
  height: 58px;
  width: 100%;
  padding-left: 23px;
  border: none;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 700;
  background-color: $input-color;

  &::placeholder {
    color: black;
    opacity: 1;
  }

  &--wide {
    min-width: 280px;
  }

  &--radio {
    display: none;

    &+.form__label--bold::before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      position: absolute;
      top: 7px;
      left: 1px;
      height: 22px;
      width: 22px;
      border: 17px solid;
      border-color: $input-color;
      border-radius: 50%;
      background-color: $input-color;
    }

    &:checked+.form__label--bold::before {
      background-color: #333333;
    }
  }

  &--check {
    display: none;

    &+.form__label--bold::before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      position: absolute;
      top: -2px;
      left: 0px;
      height: 24px;
      width: 24px;
      border: 17px solid;
      border-color: $input-color;
      border-radius: 5px;
      background-color: $input-color;
    }

    &:checked+.form__label--bold::before {
      background: $input-color url(../img/icon-tick.svg) no-repeat 0 5px;
    }
  }
}

.form__icon {
  position: absolute;
  height: 58px;
  width: 58px;
  top: 34px;
  left: 222px;
  background-color: #e6e6e6;
  background-position: 50% 50%;
  background-repeat: no-repeat;

  &--phone {
    background-image: url(../img/icon-phone.svg);
  }

  &--email {
    background-image: url(../img/icon-mail.svg);
  }
}

.form__warning {
  display: none;
  position: absolute;
  left: 0;
  top: 97px;
  white-space: nowrap;
  padding-top: 2px;
  padding-left: 22px;
  margin: 0;
  color: #ff5c5c;
  font-size: 14px;
  text-transform: none;
}

.form__textarea {
  height: 160px;
  width: 280px;
  padding-top: 15px;
  padding-left: 22px;
  margin-bottom: 39px;
  border: 0;
  box-sizing: border-box;
  resize: none;
  color: #000000;
  font-family: PTsans, Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  background-color: $input-color;

  &::placeholder {
    color: black;
    opacity: 1;
  }
}

.form__required-field {
  display: none;
}

@media (min-width: 768px) {
  .form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 60px;
    padding-right: 60px;
  }

  .form__fieldset {
    padding: 0;
    border: none;

    &--impress {
      order: -1;
      display: flex;
      width: 270px;
      flex-wrap: wrap;
      align-items: baseline;
    }

    &--name-block {
      position: relative;
      align-items: baseline;

      &::before {
        content: "";
        display: block;
        position: absolute;
        width: 1px;
        height: 292px;
        top: 4px;
        left: -55px;
        background-color: #dbdbdb;
      }
    }
  }

  .form__wrapper-field {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0;
    margin-bottom: 0px;

    &--thin {
      width: 270px;
      padding-top: 35px;
    }

    &--places-block {
      display: flex;
      padding-top: 20px;
      padding-left: 29px;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .form__invisible-title {
    display: none;
  }

  .form__field {
    display: flex;
    width: 270px;
    align-items: baseline;

    &--wide {
      position: relative;
      display: flex;
      width: 100%;
      flex-wrap: wrap;
    }

    &--radio {
      padding-top: 15px;
      padding-bottom: 14px;
    }

    &--tall {
      margin-bottom: 5px;
    }

    &--check {
      width: 240px;
      padding-bottom: 30px;
      margin-right: 19px;
    }

    &--mountain {
      order: -1;
    }

    &--devil-bridge {
      order: -2;
    }
  }

  .form__label {
    margin-right: 0px;
  }

  .form__item {
    margin-left: 21px;

    &--wide {
      width: 650px;
      margin-left: 0;
    }
  }

  .form__warning {
    top: 3px;
    left: 436px;
  }

  .form__icon {
    left: 592px;
  }

  .form__title {
    order: -3;
    width: 100%;
    font-size: 21px;

    &--left {
      text-align: left;
    }

    &--impress {
      padding-bottom: 0px;
    }

    &--contact {
      position: relative;
      padding-top: 48px;
      text-align: left;
      padding-left: 186px;
      box-sizing: border-box;

      &::before {
        content: "";
        display: block;
        position: absolute;
        width: 125px;
        height: 1px;
        top: 60px;
        left: 0px;
        background-color: #dbdbdb;
      }

      &::after {
        content: "";
        display: block;
        position: absolute;
        width: 125px;
        height: 1px;
        top: 60px;
        right: 0px;
        background-color: #dbdbdb;
      }
    }

    &--visited {
      position: relative;
      width: 100%;
      padding-top: 35px;
      padding-left: 120px;
      padding-right: 120px;
      box-sizing: border-box;

      &::before {
        content: "";
        display: block;
        position: absolute;
        width: 125px;
        height: 1px;
        top: 60px;
        left: 0px;
        background-color: #dbdbdb;
      }

      &::after {
        content: "";
        display: block;
        position: absolute;
        width: 125px;
        height: 1px;
        top: 60px;
        right: 0px;
        background-color: #dbdbdb;
      }
    }

    &--comment {
      padding-top: 34px;
      padding-bottom: 37px;
    }
  }

  .form__textarea {
    width: 650px;
    margin-bottom: 56px;
  }

  .form__send {
    display: flex;
    width: 650px;
    margin-bottom: 62px;
    justify-content: space-between;
    align-items: baseline;
  }

  .form__required-field {
    display: block;
  }
}

@media (min-width: 1200px) {
  .form {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 120px;
    padding-right: 120px;
  }

  .form__invisible-title {
    display: inline;
  }

  .form__fieldset {
    width: 400px;
    justify-content: flex-start;

    &--name-block::before {
      left: -81px;
    }

    &--contacts-block {
      width: 100%;
    }

    &--places-block {
      width: 100%;
    }

    &--comment {
      width: 960px;
    }

  }

  .form__wrapper-field {
    width: 100%;

    &--thin {
      width: 400px;
    }

    &--contacts {
      display: flex;
      padding-top: 52px;
      flex-wrap: nowrap;
      justify-content: space-between;
    }

    &--places-block {
      width: 960px;
      flex-wrap: nowrap;
      padding-top: 21px;
      padding-left: 0;
    }
  }

  .form__title {
    &--impress {
      padding-left: 82px;
    }

    &--contact {
      padding-top: 46px;
      padding-left: 342px;

      &::before {
        width: 280px;
      }

      &::after {
        width: 280px;
      }
    }

    &--visited {
      padding-top: 30px;
      padding-left: 300px;
      padding-right: 300px;

      &::before {
        width: 280px;
        top: 56px;
      }

      &::after {
        width: 280px;
        top: 56px;
      }
    }

    &--comment {
      padding-top: 28px;
    }
  }

  .form__field {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;

    &--check {
      padding-top: 2px;
      padding-bottom: 35px;
    }
  }

  .form__label--thin {
    padding-left: 0px;
  }

  .form__item {
    width: 100%;

    &--wide {
      width: 315px;
      margin-left: 23px;
    }
  }

  .form__item--radio + .form__label--bold::before {
    top: 4px;
    left: 5px;
  }

  .form__icon {
    top: 0;
    left: 345px;

    &--email {
      left: 422px;
    }
  }

  .form__warning {
    top: -31px;
    left: 86px;
  }

  .form__text-hidden {
    display: none;
  }

  .form__textarea {
    width: 960px;
  }

  .form__send {
    display: flex;
    width: 960px;
    justify-content: space-between;
    align-items: baseline;
  }
}
