.logo {
  position: relative;

  & a {
    position: absolute;
    top: 1px;
    left:109px;
    z-index: 1;
    width: 102px;
    height: 83px;
  }
}

 @media (min-width: 768px) {
   .logo a {
    left:333px;
    top: -56px;
   }
  }

@media (min-width: 1200px) {
  .logo a {
    left:548px;
   }
}
