.logo {
  position: absolute;
	top: 223px;
  left: 109px;

  & a {
    height: 83px;
    width: 102px;
    z-index: 1;
  }
}

@media (min-width: 768px) {
  .logo {
    top: 0;
    left: 333px;
  }
}

@media (min-width: 1200px) {
	.logo {
    left: 505px;
    height: 96px;

		& a {
    	width: 188px;
  	}
	}
}
