.main-nav {
  position: relative;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item a {
  display: block;
  text-decoration: none;
  color: $menu-text-color;
  height: 56px;
  text-align: center;
  vertical-align: middle;
  border-bottom-color: black;
  line-height: 56px;
  font-size: 18px;
  font-weight: 700;
  box-sizing: border-box;
  background-color: $menu-bg-color;
  box-sizing: border-box;
  border-bottom: 1px solid #678fa8;
  border-top:1px solid #9ac2db;
}

.main-nav__toggle {
  display: block;
  height: 56px;
  width: 320px;
  font-size: 0;
  visibility: hidden;
}
