.main-nav__list {
  display: none;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: $menu-bg-color;

	&--active {
		display: block;
	}
}

.main-nav__item {
  & a {
    display: block;
    height: 55px;
    padding-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 1px;
    box-sizing: border-box;
    box-shadow: inset 0px 2px 0px -1px rgba(255, 255, 255, 0.2), 0px 2px 0px 0px rgba(1, 1, 1, 0.2);
    color: $menu-text-color;
    line-height: 26px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    background-color: $menu-bg-color;

    &:hover {
      background-color: #669ec0;
    }

    &:active {
      color: rgba(white, 0.3);
      background-color: #5496bd;
    }
  }
}

.main-nav__wrapper {
  position: relative;
  height: 56px;
}

.main-nav__toggle {
  position: absolute;
  display: block;
  height: 25px;
  width: 25px;
  top: 13px;
  right: 20px;
  border: none;
  border-style: none;
  font-size: 0;
  background-color: white;


  & span {
    display: block;
    position: absolute;
    height: 3px;
    width: 23px;
    top: 13px;
    left: 2px;
    border-top: 1px solid #c0d9e8;
    border-bottom: 1px solid #c0d9e8;
    background-color: #81b3d2;

    &::before {
      content: "";
      position: absolute;
      display: block;
      height: 4px;
      width: 23px;
      bottom: 8px;
      background-color: #81b3d2;
    }

    &::after {
      content: "";
      position: absolute;
      display: block;
      height: 4px;
      width: 23px;
      top: 8px;
      background-color: #81b3d2;
    }
  }
}

.main-nav__toggle--active {
  top: -208px;
  background-color: transparent;

  & span {
    position: absolute;

    border: none;
    background: none;

    &::before {
      width: 28px;
      bottom: 0;
      transform: rotate(45deg) translateX(0.5px);
      background-color: white;
    }

    &::after {
      width: 28px;
      top: 0;
      transform: rotate(-45deg) translateX(0.5px);
      background-color: white;
    }
  }
}

@media (min-width: 768px) {
  .main-nav__list {
    display: block;
    position: static;
    background-color: transparent;
    @include clearfix;
  }

  .main-nav__wrapper-item {
    width: 40%;
    float: left;

    &--right {
      float: right;
    }
  }

  .main-nav__item {
    width: 50%;
    display: inline-block;
    vertical-align: middle;
    margin-right: -4px;

    & a {
      box-shadow: none;
      color: black;
      font-size: 14px;
      background-color: transparent;

      &:nth-child(2+n) {
        float: right;
      }

      &:hover {
        color: $menu-bg-color;
        background-color: transparent;
      }

      &:active {
        color: rgba(#000000, 0.3);
      }
    }

    &--visible-hidden {
      display: block;
    }
  }

  .main-nav__item--current {
    & a {
      color: #766357;

      &:hover {
        color: #604e43;
      }

      &:active {
        color: rgba(#604e43, 0.3);
      }
    }
  }

  .main-nav__wrapper {
    display: none;
  }
  .main-nav__toggle {
    display: none;
  }
}

