.promo {
  position: relative;
  padding-top: 39px;
  padding-left: 19px;
  padding-right: 19px;
  margin: 0 auto;
  margin-bottom: 12px;
  text-align: center;
  line-height: 24px;
}

.promo__title {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 0px;
  margin-bottom: 25px;
  font-size: 18px;
  font-weight: 700;
}

.promo__text {
  padding-bottom: 6px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

@media (min-width: 768px) {
  .promo {
  position: static;
  height: 206px;
  padding-top: 45px;
  padding-left: 135px;
  padding-right: 135px;
  line-height: 26px;
  box-sizing: border-box;
  margin: 0;
  }

  .promo__title {
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 35px;

    &--biger {
      font-size: 30px;
    }
  }
}

@media (min-width: 1200px) {
  .promo {
  padding-left: 355px;
  padding-right: 355px;
  }
}
