.search-hotel {
  height: 287px;
  padding-top: 32px;
  box-sizing: border-box;
}

.search-hotel__btn {
  display: block;
  width: 280px;
  height: 58px;
  margin: 0 auto;
  margin-bottom: 49px;
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
  line-height: 58px;
  text-align: center;
  text-decoration: none;
  background-color: $label-color;
}

.search-hotel__description {
  width: 257px;
  margin: 0 auto;
  margin-bottom: 35px;
  text-align:center;
}

.search-hotel__text {
  color: #333333;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;

  &--emphasized {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
  }
}
