.search-hotel {
  height: 287px;
  padding-top: 6px;
  box-sizing: border-box;
}

.btn--search-hotel {
  margin: 0 auto;
  margin-bottom: 49px;
  text-decoration: none;
}

.search-hotel__description {
  width: 257px;
  margin: 0 auto;
  margin-bottom: 35px;
  text-align:center;
}

.search-hotel__text {
  color: #333333;
  font-size: 13.9px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;

  &--emphasized {
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
  }
}

@media (min-width: 768px) {
  .search-hotel {
    height: 318px;
    padding-top: 25px;
  }

  .search-hotel__description {
    width: 435px;
  }

  .search-hotel__text {
    margin-bottom: 43px;

    &--emphasized {
      font-size: 30px;
      line-height: 26px;
      margin-bottom: 30px;
    }
  }

  .btn--search-hotel {
    width: 458px;
  }
}

@media (min-width: 768px) {
  .search-hotel {
    margin-bottom: 11px;
  }
  .search-hotel__text {
    margin-bottom: 30px;
  }

 .search-hotel__description {
   margin-bottom: 46px;
  }
}
