.search-hotel {
  height: 287px;
  padding-top: 10px;
  box-sizing: border-box;
}

.btn--search-hotel {
  margin: 0 auto;
  margin-bottom: 49px;
  text-decoration: none;
}

.search-hotel__description {
  width: 257px;
  margin: 0 auto;
  margin-bottom: 30px;
  text-align:center;
}

.search-hotel__text {
  color: #333333;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;

  &--emphasized {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
  }
}

@media (min-width: 768px) {
  .search-hotel {
    height: 318px;
  }
  .search-hotel__description {
    width: 435px;
  }
  .search-hotel__text--emphasized {
      font-size: 30px;
    line-height: 26px;
  }
  .btn--search-hotel {
    width: 458px;
  }
}
