.social-block {
  margin-bottom: 35px;
  text-align: center;
}

.social-block__list {
  padding: 0;
  margin: 0;
  font-size: 0;
  list-style: none;
}

.social-block__item {
  display: inline-block;
  vertical-align: middle;
  height: 48px;
  width: 46px;
  margin-right: 6px;
  font-size: 0;
  background-color: $label-color;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: auto;

  &:hover {
    background-color: #669ec0;
  }

  &:last-child {
    margin-right: 0px;
  }

  &--tw {
    background-image: url(../img/icon-twitter.svg);
  }

  &--fb {
    background-image: url(../img/icon-facebook.svg);
  }

  &--youtube {
    background-image: url(../img/icon-youtube.svg);
  }

  & a {
    display: inline-block;
    vertical-align: middle;
    height: 48px;
    width: 46px;
    font-size: 0;

    &:active {
      background-color: rgba(#5496bd, 0.7);
    }
  }
}


@media (min-width: 768px) {
  .social-block {
    float: left;
    width: 33%;
    padding-top: 35px;
    padding-left: 7px;
    box-sizing: border-box;
  }
}

@media (min-width: 1200px) {
  .social-block {
    padding-left: 11px;
  }
}
