.video-gallery {
  position: relative;
  padding-top: 33px;
  padding-bottom:100px;
  margin:0;
  border-top: 1px solid $photo-gal-border;
}

.video-gallery__text {
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 37px;
  color: #333333;
  font-size: 14px;
  line-height: 24px;
  text-align: center;

  &--emphasized {
    margin:0;
    margin-bottom:25px;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
  }
}

.video-gallery__player-console {
  position: absolute;
  top:348px;
  left: 20px;
}

.video-gallery__volume {
  height: 45px;
  width: 280px;
  padding-top: 22px;
  padding-left: 22px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, .6);
}

.video-gallery__volume-scale {
  position: relative;
  height: 3px;
  width: 235px;
  background-color: rgba(255, 255, 255, .2);
}

.video-gallery__volume-slider {
  position: absolute;
  height: 10px;
  width: 10px;
  top:-4px;
  left: 35px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 1);
}

.video-gallery__wrapper-replay {
  display: inline-block;
  height: 67px;
  width: 150px;
  padding-top: 22px;
  padding-left: 25px;
  margin-right: -4px;
  box-sizing: border-box;
  background-color: $input-color;
}

.video-gallery__player-replay{
  height: 20px;
  width: 16px;
  z-index: 1;
  background-image: url(/img/icon-video-replay.svg);
  background-repeat: no-repeat;
}

.video-gallery__wrapper-subtitles {
  display: inline-block;
  height: 67px;
  width: 60px;
  padding-top: 23px;
  padding-left: 24px;
  margin-right: -4px;
  box-sizing: border-box;
  background-color: $input-color;
}

.video-gallery__player-subtitles{
  height: 20px;
  width: 32px;
  z-index: 1;
  background-image: url(/img/icon-video-subtitles.svg);
}

.video-gallery__wrapper-fullscreen {
  display: inline-block;
  height: 67px;
  width: 70px;
  padding-top: 23px;
  padding-left: 27px;
  box-sizing: border-box;
  background-color: $input-color;
}

.video-gallery__player-fullscreen{
  height: 20px;
  width: 20px;
  z-index: 1;
  background-image: url(/img/icon-video-fullscreen.svg);
}

@media (min-width: 768px) {
  .video-gallery {
    padding-top: 68px;
    padding-bottom: 35px;
    padding-left: 60px;
    padding-right: 60px;
    border: none;
  }

  .video-gallery__title {
    padding-left: 100px;
    padding-right: 100px;
  }

  .video-gallery__text {
    padding-left: 17px;
    padding-right: 17px;
    margin-bottom: 73px;

    &--emphasized {
      margin-bottom: 30px;
      font-size: 30px;
      line-height: 26px;
    }
  }

  .video-gallery__player-console {
    display: flex;
    height: 93px;
    width: 648px;
    top:652px;
    left:60px;
    background-color: rgba(0, 0, 0, .6);
  }

  .video-gallery__wrapper-replay {
    order: -1;
    height: 93px;
    width: 93px;
    padding-top: 35px;
    padding-left: 35px;
    background-color: transparent;
  }

  .video-gallery__volume {
    height: 93px;
    width: 390px;
    padding-left: 0px;
    padding-top: 45px;
    background-color: transparent;
  }

  .video-gallery__volume-scale {
    width: 390px;
  }

  .video-gallery__volume-slider {
    left: 116px;
  }
  .video-gallery__wrapper-subtitles {
    height: 93px;
    width: 90px;
    padding-top: 36px;
    padding-left: 45px;
    background-color: transparent;
  }

  .video-gallery__wrapper-fullscreen {
    height: 93px;
    width: 83px;
    padding-top: 36px;
    padding-left: 21px;
    background-color: transparent;
  }

  .video-gallery__player-replay {
    background-image: url(/img/icon-video-replay-white.svg);
  }

  .video-gallery__player-subtitles {
    background-image: url(/img/icon-video-subtitles-white.svg);
  }

  .video-gallery__player-fullscreen {
    background-image: url(/img/icon-video-fullscreen-white.svg);
  }
}


@media (min-width: 1200px) {
   .video-gallery {
    padding-top: 9px;
     padding-bottom: 79px;
    padding-left: 200px;
    padding-right: 200px;
  }

  .video-gallery__text {
    padding-left: 80px;
    padding-right: 80px;
  }

  .video-gallery__player-console {
    top:592px;
    left: 200px;
    width: 800px;
  }

  .video-gallery__volume {
    width: 540px;
  }

  .video-gallery__volume-scale {
    width: 540px;
  }
}
